#config-version=FGT60F-6.4.8-FW-build2013-210630:opmode=0:vdom=0:user=admin
config system global
    set hostname "old-fw"
    set admintimeout 60
    set pre-login-banner disable
end
config system interface
    edit "port1"
        set mode static
        set ip 10.0.0.1 255.255.255.0
        set allowaccess ping http telnet
    next
end
config system admin
    edit "admin"
        set accprofile "super_admin"
        set password ENC AK1qXReallySecretAdminPasswordBlobXYZ
    next
end
config system password-policy
    set status enable
    set apply-to admin-password
    set minimum-length 4
end
config log disk setting
    set status disable
end
config log syslogd setting
    set status disable
end
config system ntp
    set ntpsync disable
end
config system snmp community
    edit 1
        set name "public"
    next
end
